@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Rubik&display=swap");

.circle-border {
  @apply border p-3 rounded-full;
}

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.dark__bg {
  position: absolute;
  width: 100%;
  height: 80vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.categories {
  @apply flex items-center gap-5;
}

.cat {
  @apply px-10 py-3 bg-gray-200 text-black rounded-md;
}
